<div class="card card--absolute-center">
  <div class="card__icon">
    <fa-icon icon="book-open" class="fa-3x"></fa-icon>
  </div>
  <div class="card__header">
    About
  </div>
  <div class="card__content card__content--justify">
    <div class="card__content__section">
      <article>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur consequuntur dolorem earum,
          eius esse explicabo hic libero minus modi necessitatibus nesciunt placeat qui quod tenetur velit vitae? Ad,
          similique!
        </p>
      </article>
    </div>
  </div>
</div>
