<div class="card card--absolute-center">
  <div class="card__icon">
    <fa-icon icon="map-marked-alt" class="fa-3x"></fa-icon>
  </div>
  <div class="card__header">
    Contact
  </div>
  <div class="card__content card__content--center">
      <address>
        <div class="card__content__section">
          <a href="mailto:divante@divante.com">divante@divante.com</a>
        </div>
        <div class="card__content__section">
          <div>tel. 555 - 123 - 525</div>
          <div>tel. 788 - 412 - 225</div>
        </div>
        <div class="card__content__section">
          <div>ul. Dmowskiego 17</div>
          <div>00 - 000 Wrocław</div>
        </div>
      </address>
  </div>
</div>
